extends ../layout

block content
	h1.
		#{title}
	form#formAddFonkapp(name="addfonkapp",method="post",action="/fonkapps")
		p Name: 
			input#inputName(type="text", placeholder="ex. John Smith", name="name")
		p Category:
			input#inputName(type="text", placeholder="ex. Games, Sports, Live Style", name="category")
		p Company Path:
			input#inputName(type="text", placeholder="ex. com.domain.company", name="company")
		p Flickr ID:
			input#inputName(type="text", placeholder="ex. ", name="flickr")
		p MC dev code:
			input#inputName(type="text", placeholder="ex. ", name="mcdevcode")
		p Add Sense:
			input#inputName(type="text", placeholder="ex. ", name="addsense")
		//p Badge:
		//	input#inputBadge(type="number", placeholder="ex. 123456", name="badge")
		//p DOB:
		//	input#inputDob(type="date", name="dob")
		//p Are You Loved?:
		//	input#inputIsLoved(type="checkbox", name="isloved")
		p
			button#btnSubmit(type="submit") submit